.spinner {
    width: 4rem;
    height: 4rem;
    margin: 1rem auto;
    border-radius: 50%;
    border: 0.3rem solid gray;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
